section {
  width: 600px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -180px 0 0 -300px;
  display: table;
}

.logo {
  background-color: transparent;
  margin-bottom: 5rem;
}

.logo:hover {
  text-decoration: none;
  cursor: pointer;
}

.logo i {
  color: #7d9ec0;
  transition-duration: 0.5s;
}

.logo:hover .logo-text i {
  color: #5a728a;
  transition-duration: 0.5s;
  /* box-shadow:  0 0px 30px rgb(194, 194, 194); */
}

.logo-text {
  letter-spacing: 1.5px;
}

.logo-text:hover {
  text-decoration: none;
}

.submit-btn {
  color: #ececec;
  margin-top: 1.5rem;
}

.submit-btn,
.copy-btn {
  background-color: #7d9ec0;
  transition-duration: 0.5s;
}

.submit-btn:hover,
.copy-btn:hover {
  background-color: #5a728a;
  color: #ffffff;
  transition-duration: 0.5s;
}

.manager-icon, .copy-icon {
  color: #82a5c7;
  cursor: pointer;
  transition-duration: 0.5s;
}

.manager-icon:hover, .copy-icon:hover {
  color: #5a728a;
  text-decoration: transparent;
  transition-duration: 0.5s;
}

.nav-btn:hover {
  color: #000000;
  transition-duration: 0.5s;
}

.sign-up-btn-wrapper {
  border: 1.5px solid #e2e2e2;
  transition-duration: 0.5s;
}

.sign-up-btn-wrapper:hover {
  border: 1.5px solid #000000;
  transition-duration: 0.5s;
}

.input-area {
  border: none;
  border-bottom: 1px solid #ececec;
  outline: none;
  background: transparent;
  border-radius: 0;
  letter-spacing: 1px;
  font-size: x-small;
}

.valid-input-area,
.copy-btn {
  border: none;
  outline: none;
}

.input-area,
.logo a,
.logo a:hover,
.valid-input-area,
.valid-input-area:focus,
.m-description {
  color: #2e2e2e;
}

.click-counter-icon {
  background-color: #82a5c7;
  color: #ffffff;
}

.clock-icon {
  /* background-color: #a6acb1; */
  color: #82a5c7;
}

.delete-icon {
  color: #e2eaf1;
  cursor: pointer;
  transition-duration: 0.5s;
}

.nav-btn {
  color: #aaaeb3;
  transition-duration: 0.5s;
}

.delete-icon:hover {
  color: #82a5c7;
  transition-duration: 0.5s;
}

.preview-title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.preview-des {
  font-size: 0.5rem; 
  line-height: 0.9rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

@media screen and (max-width: 720px){
  .meta-data-wrapper {
    width: 35%; 
    max-width: 200px; 
    max-height: 480px
  }

  .meta-image {
    max-width: 130px; 
    max-height: 130px
  }

}

@media screen and (min-width: 720px) {
.meta-data-wrapper {
    width: 35%; 
    max-width: 300px; 
    max-height: 480px
  }

  .meta-image {
    max-width: 230px; 
    max-height: 130px
  }
}